@model List<WebApp.Models.MatchedProduct>

@{
    ViewBag.Title = "[] Digital Incentives []";
}

<script src="~/scripts/SequenceDg.js"></script>
<link href="~/Content/SequenceDg.css" rel="stylesheet" />
<link href="~/Content/logo.css" rel="stylesheet" />
<br />
<div>
    <span id="btnHomeButton" onclick="NavigateToHome()">
        <img src="~/Images/Home-icon.png" style="width: 65px;height: 65px; right:24px;position: absolute;top: 20px;" class="custom-thumbnail" />
    </span>
</div>
<div>
    <span class="tag-wrap">
        <span class="tag">
            Digital Incentives
        </span>
    </span>
    <br /><br /><br />
</div>

<br /><br />


<button class="collapsible" style="background-color: #7d64b2">(Step-1) Image Segmentation</button>

<div class="content">
    <br />
    <br /><br />
    @if (System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath("~/ProcessedFiles/originalImage.jpg"))
        && System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath("~/ProcessedFiles/segmentedImageTight.jpg")))
    {
        <table>
            <tr>
                <td>
                    <span style="font-size: x-large;">
                        <b>UPLOADED RECEIPT</b>
                    </span>
                </td>
                <td width="5%"></td>
                <td>
                    <span style="font-size: x-large;">
                        <b>SEGMENTED RECEIPT</b>
                    </span>
                </td>
            </tr>
            <tr>
                <td width="40%">
                    <img src="~/ProcessedFiles/originalImage.jpg" style="width: 900px;height: 1024px;border: solid;" />
                </td>
                <td width="5%"></td>
                <td width="40%">
                    <img src="~/ProcessedFiles/segmentedImageTight.jpg" style="width: 900px;height: 1024px;border: solid;" />
                </td>
            </tr>
        </table>
    }
    @*<img src="~/ProcessedFiles/products.jpg" />*@
    @*<div class="lineBr"></div>*@
    <br />
    <br />
</div><br /><br /><br />


<button class="collapsible" style="background-color: #7d64b2">(Step-2) Processed Images</button>

<div class="content">
    <br />
    <br /><br />
    @if (System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath("~/ProcessedFiles/companyName.jpg")))
    {
        <table style="width:1235px">
            <tr>
                <td>
                    <span style="font-size: medium;">
                        <b>RETAILER NAME</b>
                    </span>
                </td>
                <td width="5%"></td>
                <td>
                    <span style="font-size: medium;">
                        <b>RETAILER NAME</b>
                    </span>
                </td>
            </tr>
            <tr>
                <td width="40%">
                    <img src="~/ProcessedFiles/companyName.jpg" style="border: solid;" />
                </td>
                <td width="5%"></td>
                <td width="40%">
                    <p style="background-color:white;max-width: 400px;border-style: inset">
                        @ViewBag.CompanyName
                        @*<iframe src="~/ProcessedFiles/companyName.txt" frameborder="0" width="95%"></iframe>*@
                    </p>
                </td>
            </tr>
        </table><br />
    }

    @if (System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath("~/ProcessedFiles/companyAddress.jpg")))
    {
        <table style="width:1235px">
            <tr>
                <td>
                    <span style="font-size: medium;">
                        <b>RETAILER ADDRESS</b>
                    </span>
                </td>
                <td width="5%"></td>
                <td>
                    <span style="font-size: medium;">
                        <b>RETAILER ADDRESS</b>
                    </span>
                </td>
            </tr>
            <tr>
                <td width="40%">
                    <img src="~/ProcessedFiles/companyAddress.jpg" style="border: solid;" />
                </td>
                <td width="5%"></td>
                <td width="40%">
                    <p style="background-color:white;max-width: 400px;border-style: inset">
                        <iframe src="~/ProcessedFiles/companyAddress.txt" frameborder="0" width="95%"></iframe>
                    </p>
                </td>
            </tr>
        </table><br />
    }

    @if (System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath("~/ProcessedFiles/products.jpg")))
    {
        <table style="width:1235px">
            <tr>
                <td>
                    <span style="font-size: medium;">
                        <b>PRODUCTS</b>
                    </span>
                </td>
                <td width="5%"></td>
                <td>
                    <span style="font-size: medium;">
                        <b>PRODUCTS</b>
                    </span>
                </td>
            </tr>
            <tr>
                <td width="40%">
                    <img src="~/ProcessedFiles/products.jpg" style="border: solid;" />
                </td>
                <td width="5%"></td>
                <td width="40%">
                    <p style="background-color:white;max-width: 400px;border-style: inset; max-height:750px">
                        <iframe src="~/ProcessedFiles/products.txt" frameborder="0" width="95%" style="min-height:400px"></iframe>
                    </p>
                </td>
            </tr>
        </table><br />
    }

    <br />
    <br />
</div><br /><br /><br />

@*<button class="collapsible" style="background-color: #8390e2">Ask me questions!</button>*@


<button class="collapsible" style="background-color: #7d64b2">(Step-3) Incentive Rewards</button>

<div class="content">
    <br />
    <br /><br />
    <div style="align-content:center;text-align: center">
        <table border="1">
            <tr>
                <th style="background-color: #7d64b2;width:250px;text-align: center">Master Product Name</th>
                <th style="background-color: #7d64b2;width:275px;text-align: center">Retailer Product Name</th>
                <th style="background-color: #7d64b2;width:100px;text-align: center">Accuracy</th>
                <th style="background-color: #7d64b2;width:100px;text-align: center">Rewards</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="background-color: #d6d6ff;"> @item.ProductMasterName</td>
                    <td style="background-color: #d6d6ff;"> @item.ProductTerm (@item.ProductName)</td>
                    <td style="background-color: #d6d6ff;"> @item.ProductAccuracy %</td>
                    <td style="background-color: #d6d6ff;">10x</td>
                </tr>
            }
        </table>
    </div>
    <br />
    <br />
</div><br /><br /><br />

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>



